extends layout

block content
  div.progrecss.green.fixed

  .container
    .row.text-center
      ul.bars.clearfix
        li.bar1
        li.bar2
        li.bar3
        li.bar4
        li.hidden
      span.angel-beats Angel
        strong Beats

    .row.text-center
      .col-sm-4
        |&nbsp;
      .col-sm-4
        p
          span#song-count 0 songs
          |,&nbsp;
          span#total-time 0 hours 0 minutes
      .col-sm-4
        .search-controls
          #upload-progress.progress(style='display: none')
            .progress-bar.progress-bar-info

  #playlist.scrollable
    table.table.table.table-condensed.table-hover
      thead
        tr
          th.sort(data-sort='id') #
          th.sort(data-sort='name') Name
          th.sort(data-sort='time') Time
          th.sort(data-sort='artist') Artist
          th.sort(data-sort='album') Album
          th.sort(data-sort='genre') Genre
        tbody.list
          if playlist.length
            for track in playlist
              tr.track
                td.id= track.id
                td.file(style='display: none;')= track.file
                td.name= track.name
                td.time(data-time='#{track.time}')= track.time
                td.artist= track.artist
                td.album= track.album
                td.genre= track.genre
                td(style='display: none;')
                  audio(preload='none')
                    source(src='/uploads/#{track.file}', type='audio/mpeg')
          else
            tr.warning
              td(colspan=6) Playlist is empty
